.toppage-header
  = render 'shared/header'
.main-content
  = render 'shared/sidebar'

  -#右側のコンテンツ
  .main-content_right
    %section.main-content_right-contents

      -#右側コンテンツヘッダー部分
      .main-content_right-contents_header
        .main-content_right-contents_header-link
          %figure
            .figure-icon
            = link_to "https://www.mercari.com/jp/u/379323571/"
          %h3.bold
            =current_user.nickname
          .main-content_right-contents_header-link-number
            %div
              評価
              %span.bold 0
            %div
              出品数
              %span.bold 0

      .main-content_right-contents-body
        -#右側コンテンツ タブ部分
        %ul.main-content_right-contents-tab
          %li
            .main-content_right-contents-tab_left
              %h3
                = link_to " お知らせ","#"
          %li
            .main-content_right-contents-tab_right
              %h3
                = link_to "やることリスト","#"

          -#  右側コンテンツ body部分
        %ul.main-content_right-contents-body_list
          %li
            .mypage-item-link
              .list_icon
              .mypage-item-body
                .mypage-item-text
                  = link_to "事務局から個別メッセージ「Googleログイン通知」","https://www.mercari.com/jp/mypage/news/"
                %time
                  %i.far.fa-clock
                  %span 1時間前
                %i.fas.fa-chevron-right
          %li
            .mypage-item-link
              .list_icon
              .mypage-item-body
                .mypage-item-text
                  = link_to "あと3日！》セブン−イレブンの揚げ物が¥11！お店で使えるクーポンを配信中！","https://www.mercari.com/jp/mypage/news/"
                %time
                  %i.far.fa-clock
                  %span 1時間前
                %i.fas.fa-chevron-right
          %li
            .mypage-item-link
              .list_icon
              .mypage-item-body
                .mypage-item-text
                  = link_to "明日、300Pの有効期限が切れます","https://www.mercari.com/jp/mypage/news/"
                %time
                  %i.far.fa-clock
                  %span 1時間前
                %i.fas.fa-chevron-right
          %li
            .mypage-item-link
              .list_icon
              .mypage-item-body
                .mypage-item-text
                  = link_to "事務局からメッセージ【P300獲得！】欲しかったあの商品をお得にゲットしませんか？","https://www.mercari.com/jp/mypage/news/"
                %time
                  %i.far.fa-clock
                  %span 1時間前
                %i.fas.fa-chevron-right
          %li
            .mypage-item-link
              .list_icon
              .mypage-item-body
                .mypage-item-text
                  = link_to "《大好評》必ずもらえる買う買うキャンペーン開催中！","https://www.mercari.com/jp/mypage/news/"
                %time
                  %i.far.fa-clock
                  %span 1時間前
                %i.fas.fa-chevron-right

        -#右側コンテンツ 上から2個目
      %section.under_contents
        %h4.under_contents_head 購入した商品
        %ul.main-content_right-contents-tab
          %li
            .main-content_right-contents-tab_left
              = link_to " 取引中","#"
          %li
            .main-content_right-contents-tab_right
              = link_to "過去の取引","#"
        -#右側コンテンツ 上から2個目  body部分
        .under_contents_body
.toppage-aside
  = render 'shared/aside'

.toppage-footer
  = render 'shared/footer'

= link_to new_item_path do
  .footer-sell-btn
    .footer-sell-box
      .sell-text 出品
      .fa.fa-camera
