%section.swiper-container
  .swiper-wrapper
    #slide1.swiper-slide{style:"background-image: url(#{image_path('o-rora.jpg')})"}
    #slide2.swiper-slide{style:"background-image: url(#{image_path('amanogawa.jpg')})"}
    #slide3.swiper-slide{style:"background-image: url(#{image_path('ginga.jpg')})"}

  .swiper-pagination

  .swiper-button-prev
  .swiper-button-next

  .swiper-scrollbar

%section.pickup-container
  .pickup-head ピックアップカテゴリー
  %section.items-box-container
    .text-center
      = link_to "レディース 新着アイテム", "/jp/category/1/"
    .items-box-content.clearfix
      - @items.each do |item|
        %section.items-box
          = link_to item_path(item) do
            .items-box-photo
              - if item.trade == true
                .sold-out
              = image_tag item.images.first, class:"items-photo"
            .items-box-body
              .items-box-name
                = item.name
              .items-box-num
                .items-box-price.font-5
                  .yen-mark ¥
                  = item.price
                .todo-icon
                  .fa.fa-heart-o
                  %span 1
              .item-box-tax
                (税込)
    .view-all
      = link_to "すべての商品を見る", "#"
  %section.items-box-container.clearfix
    .text-center
      = link_to "メンズ 新着アイテム", "/jp/category/2/"
    .items-box-content.clearfix
      - @items.each do |item|
        %section.items-box
          = link_to item_path(item) do
            .items-box-photo
              - if item.trade == true
                .sold-out
              = image_tag item.images.first, class:"items-photo"
            .items-box-body
              .items-box-name
                = item.name
              .items-box-num
                .items-box-price.font-5
                  .yen-mark ¥
                  = item.price
                .todo-icon
                  .fa.fa-heart-o
                  %span 1
              .item-box-tax
                (税込)
    .view-all
      = link_to "すべての商品を見る", "#"
  %section.items-box-container.clearfix
    .text-center
      = link_to "ベビー・キッズ 新着アイテム", "/jp/category/3/"
    .items-box-content.clearfix
      - @items.each do |item|
        %section.items-box
          = link_to item_path(item) do
            .items-box-photo
              - if item.trade == true
                .sold-out
              = image_tag item.images.first, class:"items-photo"
            .items-box-body
              .items-box-name
                = item.name
              .items-box-num
                .items-box-price.font-5
                  .yen-mark ¥
                  = item.price
                .todo-icon
                  .fa.fa-heart-o
                  %span 1
              .item-box-tax
                (税込)
    .view-all
      = link_to "すべての商品を見る", "#"
  %section.items-box-container.clearfix
    .text-center
      = link_to "コスメ・香水・美容 新着アイテム", "/jp/category/6/"
    .items-box-content.clearfix
      - @items.each do |item|
        %section.items-box
          = link_to item_path(item) do
            .items-box-photo
              - if item.trade == true
                .sold-out
              = image_tag item.images.first, class:"items-photo"
            .items-box-body
              .items-box-name
                = item.name
              .items-box-num
                .items-box-price.font-5
                  .yen-mark ¥
                  = item.price
                .todo-icon
                  .fa.fa-heart-o
                  %span 1
              .item-box-tax
                (税込)
    .view-all
      = link_to "すべての商品を見る", "#"

