-# サイドバー部分
.main-content_left
  %ul.main-content_left-list
    %li
      = link_to user_path(current_user), id:"mypage" do
        .main-content_left-list-item
          マイページ
          %i.fas.fa-chevron-right
    %li
      = link_to '#' do
        .main-content_left-list-item
          お知らせ
          %i.fas.fa-chevron-right
    %li
      = link_to '#' do
        .main-content_left-list-item
          やる事リスト
          %i.fas.fa-chevron-right
    %li
      = link_to '#' do
        .main-content_left-list-item
          いいね一覧
          %i.fas.fa-chevron-right
    %li
      = link_to '#' do
        .main-content_left-list-item
          出品する
          %i.fas.fa-chevron-right
    %li
      = link_to '#' do
        .main-content_left-list-item
          出品した商品ー出品中
          %i.fas.fa-chevron-right
    %li
      = link_to '#' do
        .main-content_left-list-item
          出品した商品ー取引中
          %i.fas.fa-chevron-right
    %li
      = link_to '#' do
        .main-content_left-list-item
          出品した商品ー売却済み
          %i.fas.fa-chevron-right
    %li
      = link_to '#' do
        .main-content_left-list-item
          購入した商品ー取引中
          %i.fas.fa-chevron-right
    %li
      = link_to '#' do
        .main-content_left-list-item
          購入した商品ー過去の取引
          %i.fas.fa-chevron-right
    %li
      = link_to '#' do
        .main-content_left-list-item
          ニュース一覧
          %i.fas.fa-chevron-right
    %li
      = link_to '#' do
        .main-content_left-list-item
          評価一覧
          %i.fas.fa-chevron-right
    %li
      = link_to '#' do
        .main-content_left-list-item
          ガイド
          %i.fas.fa-chevron-right
    %li
      = link_to '#' do
        .main-content_left-list-item
          お問い合わせ
          %i.fas.fa-chevron-right

  %h3.main-content_left-nav
    メルペイ
  %ul.main-content_left-list
    %li
      = link_to '#' do
        .main-content_left-list-item
          売上・振込申請
          %i.fas.fa-chevron-right
    %li
      = link_to '#' do
        .main-content_left-list-item
          ポイント
          %i.fas.fa-chevron-right

  %h3.main-content_left-nav
    設定
  %ul.main-content_left-list
    %li
      = link_to '#' do
        .main-content_left-list-item
          プロフィール
          %i.fas.fa-chevron-right
    %li
      = link_to '#' do
        .main-content_left-list-item
          発送元・お届け先住所変更
          %i.fas.fa-chevron-right
    %li
      = link_to mypage_card_users_path do
        .main-content_left-list-item
          お支払い方法
          %i.fas.fa-chevron-right
    %li
      = link_to '#' do
        .main-content_left-list-item
          メール/パスワード
          %i.fas.fa-chevron-right
    %li
      = link_to '#' do
        .main-content_left-list-item
          本人情報
          %i.fas.fa-chevron-right
    %li
      = link_to '#' do
        .main-content_left-list-item
          電話番号の確認
          %i.fas.fa-chevron-right
    %li
      = link_to "#" do
        .main-content_left-list-item
          ログアウト
          %i.fas.fa-chevron-right
