.user-container
  .user-header
    = link_to root_path do
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?570108281"
  .user-main
    .user-main__panel
      .user-main__panel__no-account
        %p アカウントをお持ちでない方はこちら
        = link_to '新規会員登録', new_user_registration_path
      .user-main__panel__form-inner
        = link_to  user_facebook_omniauth_authorize_path, id:"facebook-login", class:"btn-default btn-sns btn-sns-facebook" do
          =fa_icon 'facebook-square'
          %p Facebookでログイン
        = link_to user_google_oauth2_omniauth_authorize_path, id:"google-login", class:"btn-default btn-sns btn-sns-google" do
          = image_tag "https://img.icons8.com/color/48/000000/google-logo.png"
          %p Googleでログイン
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .user-main__panel__form-inner
          .form-group
            = f.email_field :email, autofocus: true, :placeholder => 'メールアドレスを入力'
          .form-group
            = f.password_field :password, autocomplete: "off", :placeholder => 'パスワードを入力'
          .form-group
            .g-recaptcha.login-captcha{"data-sitekey" => "6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc"}
              %div{style: "width: 304px; height: 78px;"}
                %div
                  %iframe{frameborder: "0", height: "78", name: "a-y4hqu8bd4aa", role: "presentation", sandbox: "allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox", scrolling: "no", src: "https://www.google.com/recaptcha/api2/anchor?ar=1&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=v1554100419869&size=normal&cb=f16p6vh2dwij", width: "304"}
                %textarea#g-recaptcha-response.g-recaptcha-response{name: "g-recaptcha-response", style: "width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"}
          .submit= f.submit :value=>"ログイン", :class=>"btn login-submit btn-default btn-red"
          %input{name: "login_callback", type: "hidden", value: "/users/sign_in", method: "post"}
          %input{name: "__csrf_value", type: "hidden", value: "/"}
          = link_to 'パスワードをお忘れの方', '#'

  %footer.user-footer
    %nav
      %ul.clearfix
        %li
          = link_to 'プライバシーポリシー', 'https://www.mercari.com/jp/privacy/'
        %li
          = link_to 'メルカリ利用規約', 'https://www.mercari.com/jp/tos/'
        %li
          = link_to '特定商取引に関する表記', 'https://www.mercari.com/jp/tokutei/'
    = link_to "https://www.mercari.com/jp/" do
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?570108281" , class:"footer_img"
    %p
      %small © 2019 Mercari


