.toppage-container

  .toppage-header
    = render 'shared/header'

  .toppage-main
    = render 'shared/main'

  .toppage-aside
    = render 'shared/aside'

  .toppage-footer
    = render 'shared/footer'
  
  .footer-sell-btn
    = link_to new_item_path do
      .sell-text 出品
      .fa.fa-camera
