.product-container

  .toppage-header
    = render 'shared/header'

  .product-main
    .main-detail
      .detail-content
        .detail-content__header 正規品！COACH【コーチ】★★大きめ ミニシグネチャー ショルダーバッグ
        .detail-content__main
          .detail-content__main__image
          .detail-content__main__table
        .detail-content__price
          .detail-content__price__main ¥ 3,380
          .detail-content__price__tax (税込)
          .detail-content__price__fee 送料込み
        .detail-content__btn
          %input{type:"submit", value:"購入画面に進む", class:"detail-btn"}
        .detail-content__description
          .detail-content__description__inner ご覧いただきありがとうございます。<br><br>ご不明点があればコメントよろしくお願いいたします。
        .detail-content__buttons
          .detail-content__buttons__left
            .detail-content__buttons__left__like.fa.fa-heart-o いいね! 7
            .detail-content__buttons__left__report.fa.fa-flag-o 不適切な商品の報告
          .detail-content__buttons__right
            = link_to "あんしん・あんぜんへの取り組み", "#", class:"detail-content__buttons__right__link fa fa-lock"
      .detail-comment
        .detail-comment__main
          .detail-comment__main__icon
            = link_to (image_tag src="mypage.png", id:"comment-icon"), "#"
          .detail-comment__main__content
            .detail-comment__main__content__name ユーザーネーム
            .detail-comment__main__content__body
              .detail-comment__main__content__body__text 出品者がコメントを削除しました<br>出品者がコメントを削除しました
              .detail-comment__main__content__body__icons
                .detail-comment__main__content__body__icons__left.fa.fa-clock-o 181日前
                = link_to "#" do
                  .fa.fa-flag-o
        .detail-comment__main
          .detail-comment__main__icon
            = link_to (image_tag src="mypage.png", id:"comment-icon"), "#"
          .detail-comment__main__content
            .detail-comment__main__content__name ユーザーネーム
            .detail-comment__main__content__body
              .detail-comment__main__content__body__text 出品者がコメントを削除しました<br>出品者がコメントを削除しました
              .detail-comment__main__content__body__icons
                .detail-comment__main__content__body__icons__left.fa.fa-clock-o 181日前
                = link_to "#" do
                  .fa.fa-flag-o
        .detail-comment__note 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        .detail-comment__textarea
          %textarea{id:"comment-textarea"}
        .detail-comment__btn
          %input{type:"submit", value:"コメントする", id:"comment-btn"}
      .detail-link
        .detail-link__left
          .fa.fa-angle-left
          .detail-link__left__text ディズニーヴィランズ 2個セット バッジ バッチ Villains 2018
        .detail-link__right
          .detail-link__right__text 楽天パンダ ノート&マスキングテープセット
          .fa.fa-angle-right

  .toppage-aside
    = render 'shared/aside'

  .toppage-footer
    = render 'shared/footer'
