.product-container

  .toppage-header
    = render 'shared/header'

  .product-main
    .main-detail
      %section.detail-content
        .detail-content__header 正規品！COACH【コーチ】★★大きめ ミニシグネチャー ショルダーバッグ
        .detail-content__main
          .detail-content__main__image
            = image_tag src="fig6.jpg", id:"main-photo"
            .detail-content__main__image__box
              = image_tag src="fig1.jpg", class:"sub-photo"
              = image_tag src="fig8.jpg", class:"sub-photo"
              = image_tag src="fig5.jpg", class:"sub-photo"
              = image_tag src="fig4.jpg", class:"sub-photo"
          .detail-content__main__table
            %table.detail-content__main__table__main
              %tr
                %th 出品者
                %td
                  = link_to 'ユーザーネーム', "#", class:"table-username"
                  .user-evaluation
                    .good-icon
                      .fa.fa-smile-o#good-icon
                      .good-count 90
                    .normal-icon
                      .fa.fa-meh-o#normal-icon
                      .good-count 8
                    .bad-icon
                      .fa.fa-frown-o#bad-icon
                      .good-count 5
              %tr
                %th カテゴリー
                %td
                  = link_to 'メンズ', "#", class:"link-category"
                  = link_to '水着', "#", class:"fa fa-angle-right link-category"
                  = link_to '一般水着', "#", class:"fa fa-angle-right link-category"
              %tr
                %th ブランド
                %td
              %tr
                %th 商品のサイズ
                %td M
              %tr
                %th 商品の状態
                %td やや傷や汚れあり
              %tr
                %th 配送料の負担
                %td 送料込み(出品者負担)
              %tr
                %th 配送の方法
                %td らくらくメルカリ便
              %tr
                %th 配送元地域
                %td
                  = link_to '東京都', "#"
              %tr
                %th 発送日の目安
                %td 2~3日で発送

        .detail-content__price
          .detail-content__price__main ¥ 3,380
          .detail-content__price__tax (税込)
          .detail-content__price__fee 送料込み
        .detail-content__btn
          %input{type:"submit", value:"購入画面に進む", class:"detail-btn"}
        .detail-content__description
          .detail-content__description__inner ご覧いただきありがとうございます。<br><br>ご不明点があればコメントよろしくお願いいたします。
        .detail-content__buttons
          .detail-content__buttons__left
            .detail-content__buttons__left__like.fa.fa-heart-o いいね! 7
            .detail-content__buttons__left__report.fa.fa-flag-o 不適切な商品の報告
          .detail-content__buttons__right
            = link_to "あんしん・あんぜんへの取り組み", "#", class:"detail-content__buttons__right__link fa fa-lock"
      %section.detail-comment
        .detail-comment__main
          .detail-comment__main__icon
            = link_to (image_tag src="mypage.png", id:"comment-icon"), "#"
          .detail-comment__main__content
            .detail-comment__main__content__name ユーザーネーム
            .detail-comment__main__content__body
              .detail-comment__main__content__body__text 出品者がコメントを削除しました<br>出品者がコメントを削除しました
              .detail-comment__main__content__body__icons
                .detail-comment__main__content__body__icons__left.fa.fa-clock-o 181日前
                = link_to "#" do
                  .fa.fa-flag-o
        .detail-comment__main
          .detail-comment__main__icon
            = link_to (image_tag src="mypage.png", id:"comment-icon"), "#"
          .detail-comment__main__content
            .detail-comment__main__content__name ユーザーネーム
            .detail-comment__main__content__body
              .detail-comment__main__content__body__text 出品者がコメントを削除しました<br>出品者がコメントを削除しました
              .detail-comment__main__content__body__icons
                .detail-comment__main__content__body__icons__left.fa.fa-clock-o 181日前
                = link_to "#" do
                  .fa.fa-flag-o
        .detail-comment__note 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        .detail-comment__textarea
          %textarea{id:"comment-textarea"}
        .detail-comment__btn
          %input{type:"submit", value:"コメントする", id:"comment-btn"}
      %section.detail-link
        = link_to "#", class:"detail-link__left" do
          .fa.fa-angle-left
          .detail-link__left__text ディズニーヴィランズ 2個セット バッジ バッチ Villains 2018
        = link_to "#", class:"detail-link__right" do
          .detail-link__right__text 楽天パンダ ノート&マスキングテープセット
          .fa.fa-angle-right.detail-link__right__icon
      %section.detail-icon
        .detail-icon__faceebook
          = link_to (image_tag src="facebook-icon.png", width:"50px", class:"facebook-icon"), "http://www.facebook.com/share.php?u=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm66888862498%2FQ", target:"_blank"
        .detail-icon__twitter
          = link_to (image_tag src="twitter-icon.png", width:"50px", class:"twitter-icon"), "http://twitter.com/share?count=horizontal&original_referer=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm66888862498%2F&text=%E3%83%A1%E3%83%B3%E3%82%BA%20%E6%B5%B7%E3%83%91%E3%83%B3%20%28%C2%A5%201%2C700%29%20https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm66888862498%2F%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA%E3%80%8C%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E3%80%8D%E3%81%A7%E8%B2%A9%E5%A3%B2%E4%B8%AD%E2%99%AA%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%40mercari_jp%E3%81%95%E3%82%93%E3%81%8B%E3%82%89", target:"_blank"
        .detail-icon__pinterest
          = link_to (image_tag src="pinterest-icon.png", width:"55px", class:"facebook-icon"), "http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm66888862498%2F&media=https%3A%2F%2Fstatic.mercdn.net%2Fitem%2Fdetail%2Forig%2Fphotos%2Fm66888862498_1.jpg%3F1556435256&description=%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E5%95%86%E5%93%81%3A%20%E3%83%A1%E3%83%B3%E3%82%BA%20%E6%B5%B7%E3%83%91%E3%83%B3%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA", target:"_blank"
      %section.detail-box-container
        .text-center
          = link_to "ユーザーネームさんのその他の商品", "/jp/category/2/"
        .items-box-content
          %section.items-box
            = link_to "#" do
              .items-box-photo
                = image_tag src="fig5.jpg", class:"items-photo"
              .items-box-body
                .items-box-name NIKE ナイキ Tシャツ 黒 デカロゴ
                .items-box-num
                  .items-box-price.font-5 ¥ 4,800
                  .todo-icon
                    .fa.fa-heart-o
                    %span 7
                %p.item-box-tax (税込)
          %section.items-box
            = link_to "#" do
              .items-box-photo
                = image_tag src="fig6.jpg", class:"items-photo"
              .items-box-body
                .items-box-name ジャーナルスタンダード  カバーオールジャケット
                .items-box-num
                  .items-box-price.font-5 ¥ 7,800
                  .todo-icon
                    .fa.fa-heart-o
                    %span 1
                %p.item-box-tax (税込)
          %section.items-box
            = link_to "#" do
              .items-box-photo
                = image_tag src="fig7.png", class:"items-photo"
              .items-box-body
                .items-box-name ブラックレザー長財布 ラウンドファスナー長財布
                .items-box-num
                  .items-box-price.font-5 ¥ 2,700
                %p.item-box-tax (税込)
          %section.items-box
            = link_to "#" do
              .items-box-photo
                = image_tag src="fig8.jpg", class:"items-photo"
              .items-box-body
                .items-box-name デニム ジーンズ
                .items-box-num
                  .items-box-price.font-5 ¥ 4,444
                %p.item-box-tax (税込)
          %section.items-box
            = link_to "#" do
              .items-box-photo
                = image_tag src="fig1.jpg", class:"items-photo"
              .items-box-body
                .items-box-name ベックサンダーガード ショルダーバッグ
                .items-box-num
                  .items-box-price.font-5 ¥ 3,800
                  .todo-icon
                    .fa.fa-heart-o
                    %span 1
                %p.item-box-tax (税込)
          %section.items-box
            = link_to "#" do
              .items-box-photo
                = image_tag src="fig4.jpg", class:"items-photo"
              .items-box-body
                .items-box-name ミスティック スカート
                .items-box-num
                  .items-box-price.font-5 ¥ 1,000
                  .todo-icon
                    .fa.fa-heart-o
                    %span 10
                %p.item-box-tax (税込)
      %section.detail-box-container
        .text-center
          = link_to "カテゴリー その他の商品", "/jp/category/2/"
        .items-box-content
          %section.items-box
            = link_to "#" do
              .items-box-photo
                = image_tag src="fig9.jpg", class:"items-photo"
              .items-box-body
                .items-box-name ※更に値下げ！リーボック子供ブーツ
                .items-box-num
                  .items-box-price.font-5 ¥ 300
                  .todo-icon
                    .fa.fa-heart-o
                    %span 1
                %p.item-box-tax (税込)
          %section.items-box
            = link_to "#" do
              .items-box-photo
                = image_tag src="fig13.jpeg", class:"items-photo"
              .items-box-body
                .items-box-name 雪花秀 乳液&amp;化粧水 40本セット
                .items-box-num
                  .items-box-price.font-5 ¥ 2,300
                %p.item-box-tax (税込)
          %section.items-box
            = link_to "#" do
              .items-box-photo
                = image_tag src="fig11.jpg", class:"items-photo"
              .items-box-body
                .items-box-name kids用半袖Tシャツ サイズ90
                .items-box-num
                  .items-box-price.font-5 ¥ 450
                  .todo-icon
                    .fa.fa-heart-o
                    %span 2
                %p.item-box-tax (税込)
          %section.items-box
            = link_to "#" do
              .items-box-photo
                = image_tag src="fig12.jpg", class:"items-photo"
              .items-box-body
                .items-box-name コート
                .items-box-num
                  .items-box-price.font-5 ¥ 1,500
                %p.item-box-tax (税込)
          %section.items-box
            = link_to "#" do
              .items-box-photo
                = image_tag src="fig14.jpg", class:"items-photo"
              .items-box-body
                .items-box-name MKUP 台湾 素顔クリーム
                .items-box-num
                  .items-box-price.font-5 ¥ 4,200
                %p.item-box-tax (税込)
          %section.items-box
            = link_to "#" do
              .items-box-photo
                = image_tag src="fig15.jpg", class:"items-photo"
              .items-box-body
                .items-box-name キャンメイク パウダーアイライナー 02
                .items-box-num
                  .items-box-price.font-5 ¥ 400
                %p.item-box-tax (税込)


  .toppage-aside
    = render 'shared/aside'

  .toppage-footer
    = render 'shared/footer'
