.product-container

  .toppage-header
    = render 'shared/header'
  %nav.main-content__breadcrumb
    - breadcrumb :show
    = breadcrumbs separator: "#{content_tag(:i, '', class: 'fas fa-chevron-right')}"
  .product-main
    .main-detail
      %section.detail-content
        .detail-content__header
          = @item.name
        .detail-content__main
          .detail-content__main__image
            = image_tag @image ,class:"main"
            .detail-content__main__image__box
              - @item.images.each do |image|
                = image_tag image ,class:"sub", style: "width:55px"
          .detail-content__main__table
            %table.detail-content__main__table__main
              %tr
                %th 出品者
                %td
                  = link_to "#{@user.nickname}",  class:"table-username"
                  .user-evaluation
                    .good-icon
                      .fa.fa-smile-o#good-icon
                      .good-count 90
                    .normal-icon
                      .fa.fa-meh-o#normal-icon
                      .good-count 8
                    .bad-icon
                      .fa.fa-frown-o#bad-icon
                      .good-count 5
              %tr
                %th カテゴリー
                %td
                  = link_to 'メンズ', "#", class:"link-category"
                  = link_to '水着', "#", class:"fa fa-angle-right link-category"
                  = link_to '一般水着', "#", class:"fa fa-angle-right link-category"
              %tr
                %th ブランド
                %td
              %tr
                %th 商品のサイズ
                %td M
              %tr
                %th 商品の状態
                %td 
                  = @item.state
              %tr
                %th 配送料の負担
                %td 
                  = @item.delivery_fee
              %tr
                %th 配送の方法
                %td らくらくメルカリ便
              %tr
                %th 配送元地域
                %td
                  = link_to "#{@item.prefecture}", "#"
              %tr
                %th 発送日の目安
                %td 
                  = @item.shipping

        .detail-content__price
          .detail-content__price__main
            .yen-mark ¥
            = @item.price
          .detail-content__price__tax (税込)
          .detail-content__price__fee 送料込み
        .detail-content__btn
          %input{type:"submit", value:"購入画面に進む", class:"detail-btn"}
        .detail-content__description
          .detail-content__description__inner
            = @item.text
        .detail-content__buttons
          .detail-content__buttons__left
            .detail-content__buttons__left__like.fa.fa-heart-o いいね! 7
            .detail-content__buttons__left__report.fa.fa-flag-o 不適切な商品の報告
          .detail-content__buttons__right
            = link_to "あんしん・あんぜんへの取り組み", "#", class:"detail-content__buttons__right__link fa fa-lock"
      %section.detail-comment
        .detail-comment__main
          .detail-comment__main__icon
            = link_to "#" do
              = image_tag "mypage.png", id:"comment-icon"
          .detail-comment__main__content
            .detail-comment__main__content__name ユーザーネーム
            .detail-comment__main__content__body
              .detail-comment__main__content__body__text 出品者がコメントを削除しました<br>出品者がコメントを削除しました
              .detail-comment__main__content__body__icons
                .detail-comment__main__content__body__icons__left.fa.fa-clock-o 181日前
                = link_to "#" do
                  .fa.fa-flag-o
        .detail-comment__main
          .detail-comment__main__icon
            = link_to "#" do
              = image_tag "mypage.png", id:"comment-icon"
          .detail-comment__main__content
            .detail-comment__main__content__name ユーザーネーム
            .detail-comment__main__content__body
              .detail-comment__main__content__body__text 出品者がコメントを削除しました<br>出品者がコメントを削除しました
              .detail-comment__main__content__body__icons
                .detail-comment__main__content__body__icons__left.fa.fa-clock-o 181日前
                = link_to "#" do
                  .fa.fa-flag-o
        .detail-comment__note 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        .detail-comment__textarea
          %textarea{id:"comment-textarea"}
        .detail-comment__btn
          %input{type:"submit", value:"コメントする", id:"comment-btn"}
      %section.detail-link
        = link_to "#", class:"detail-link__left" do
          .fa.fa-angle-left
          .detail-link__left__text ディズニーヴィランズ 2個セット バッジ バッチ Villains 2018
        = link_to "#", class:"detail-link__right" do
          .detail-link__right__text 楽天パンダ ノート&マスキングテープセット
          .fa.fa-angle-right.detail-link__right__icon
      %section.detail-icon
        .detail-icon__faceebook
          = link_to "http://www.facebook.com/share.php?u=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm66888862498%2FQ", target:"_blank" do
            = image_tag "facebook-icon.png", class:"facebook-icon"
        .detail-icon__twitter
          = link_to "http://twitter.com/share?count=horizontal&original_referer=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm66888862498%2F&text=%E3%83%A1%E3%83%B3%E3%82%BA%20%E6%B5%B7%E3%83%91%E3%83%B3%20%28%C2%A5%201%2C700%29%20https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm66888862498%2F%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA%E3%80%8C%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E3%80%8D%E3%81%A7%E8%B2%A9%E5%A3%B2%E4%B8%AD%E2%99%AA%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%40mercari_jp%E3%81%95%E3%82%93%E3%81%8B%E3%82%89", target:"_blank" do
            = image_tag "twitter-icon.png", class:"twitter-icon"
        .detail-icon__pinterest
          = link_to "http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm66888862498%2F&media=https%3A%2F%2Fstatic.mercdn.net%2Fitem%2Fdetail%2Forig%2Fphotos%2Fm66888862498_1.jpg%3F1556435256&description=%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E5%95%86%E5%93%81%3A%20%E3%83%A1%E3%83%B3%E3%82%BA%20%E6%B5%B7%E3%83%91%E3%83%B3%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA", target:"_blank" do
            = image_tag src="pinterest-icon.png", class:"pinterest-icon"
      %section.detail-box-container
        .text-center
          = link_to "#{@user.nickname}さんのその他の商品", "/jp/category/2/"
        .items-box-content
          - @other_items.each do |item|
            %section.items-box
              = link_to item_path(item) do
                .items-box__photo
                  = image_tag item.images.first, class:"items-photo"
                .items-box__body
                  .items-box__body__name
                    = item.name
                  .items-box__body__num
                    .items-box__body__num__price.font-5
                      .yen-mark ¥
                      = item.price
                    .todo-icon
                      .fa.fa-heart-o
                      %span 7
                  %p.items-box__body__tax (税込)
      %section.detail-box-container
        .text-center
          = link_to "カテゴリー その他の商品", "/jp/category/2/"
        .items-box-content
          %section.items-box
            = link_to "#" do
              .items-box__photo
                = image_tag "fig9.jpg", class:"items-photo"
              .items-box__body
                .items-box__body__name ※更に値下げ！リーボック子供ブーツ
                .items-box__body__num
                  .items-box__body__num__price.font-5 ¥ 300
                  .todo-icon
                    .fa.fa-heart-o
                    %span 1
                %p.items-box__body__tax (税込)
          %section.items-box
            = link_to "#" do
              .items-box__photo
                = image_tag "fig13.jpeg", class:"items-photo"
              .items-box__body
                .items-box__body__name 雪花秀 乳液&amp;化粧水 40本セット
                .items-box__body__num
                  .items-box__body__num__price.font-5 ¥ 2,300
                %p.items-box__body__tax (税込)
          %section.items-box
            = link_to "#" do
              .items-box__photo
                = image_tag "fig11.jpg", class:"items-photo"
              .items-box__body
                .items-box__body__name kids用半袖Tシャツ サイズ90
                .items-box__body__num
                  .items-box__body__num__price.font-5 ¥ 450
                  .todo-icon
                    .fa.fa-heart-o
                    %span 2
                %p.items-box__body__tax (税込)
          %section.items-box
            = link_to "#" do
              .items-box__photo
                = image_tag "fig12.jpg", class:"items-photo"
              .items-box__body
                .items-box__body__name コート
                .items-box__body__num
                  .items-box__body__num__price.font-5 ¥ 1,500
                %p.items-box__body__tax (税込)
          %section.items-box
            = link_to "#" do
              .items-box__photo
                = image_tag "fig14.jpg", class:"items-photo"
              .items-box__body
                .items-box__body__name MKUP 台湾 素顔クリーム
                .items-box__body__num
                  .items-box__body__num__price.font-5 ¥ 4,200
                %p.items-box__body__tax (税込)
          %section.items-box
            = link_to "#" do
              .items-box__photo
                = image_tag "fig15.jpg", class:"items-photo"
              .items-box__body
                .items-box__body__name キャンメイク パウダーアイライナー 02
                .items-box__body__num
                  .items-box__body__num__price.font-5 ¥ 400
                %p.items-box__body__tax (税込)


  .toppage-aside
    = render 'shared/aside'

  .toppage-footer
    = render 'shared/footer'
